<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astar.sharetalent.web.dao.SysOperMapper">


        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
id,
time_stamp AS timeStamp,
            user_name, password, real_name, mobile_number, status, remark, create_date, modify_date
        </sql>

</mapper>
