<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astar.sharetalent.web.dao.UserWechatMapper">

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
id,
time_stamp AS timeStamp,
            open_id, oper_id, mobile_number, create_date, modify_date, real_name, nick_name, pic_url, sex, city, province, country, language, remark
        </sql>

</mapper>
